@inject Microsoft.AspNetCore.Identity.SignInManager<MedicalAppointmentSystem.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <form style="display:contents;" method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">

            <span class="nav-item text-info"><a class="nav-link" href="#"><i class="fas fa-user-md"></i>  Hi, @User.Identity.Name!</a></span>
            <span style="" class="nav-item text-danger"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa-solid fa-right-from-bracket"></i> Log Off</a></span>
     
    </form>
}
else
{
<li class="nav-item"><a class="nav-link" asp-action="Register" asp-controller="Account">Register</a></li>
<li class="nav-item"><a class="nav-link" asp-action="Login" asp-controller="Account">Sign In</a></li>
    
}
              